:root {
    --text-color: #a7a7a7;
    --bright-color: #fff;
    --background: #000;
    --background-card: #121212;
    --background-input: #242424;
    --background-input-bright: #2a2a2a;
    --background-likesong-gradient: linear-gradient(135deg,#450af5,#c4efd9);
    /* layout */
    --top-bar-h: 50px;
    --player-bar-h: 72px;
    --nav-bar-w: 260px;
    --gap-flex: 8px;
    --lyt-border: 10px;
    /* padding - gap... */
    --container-pad: 8px;
    --layout-pad: 24px;
    --gap-item-nav: 16px;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------- GENERAL SETTING ------ */
html {font-family: 'Montserrat', sans-serif;}

body {background-color: var(--background);}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-flex);
    padding: var(--container-pad);
}

img {width: 100%;}

a {text-decoration: none;}
/* ---------- GENERAL SETTING -------- */

/***********************
TOP BAR
***********************/
.top__bar {
    color: var(--text-color);
    width: 100vw;
    height: var(--top-bar-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--container-pad);
}

.top__bar__logo {
    width: 100px;
    cursor: pointer;
}

.top__bar__input {
    display: flex;
}

.top__bar__input__home, .top__bar__profile {
    background-color: var(--background-input);
    font-size: 20px;
    padding: 12px;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.top__bar__input__home:hover, .top__bar__profile:hover {
    background-color: var(--background-input-bright);
    color: var(--bright-color);
}

.top__bar__input__search {
    font-size: 20px;
    position: relative;
}

.top__bar__input__search:hover {
    color: var(--bright-color);
}

.top__bar__input__search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 12px;
}

.top__bar__input__search input {
    background-color: var(--background-input);
    color: var(--bright-color);
    height: 100%;
    width: 400px;
    padding: 6px 48px;
    border-radius: 30px;
    border: none;
    outline-style: none;
}

.top__bar__input__search input:hover {
    background-color: var(--background-input-bright);
}

.top__bar__input__search input:focus {
    border: 2px solid var(--bright-color);
    background-color: var(--background-input-bright);
}

input[type = 'search']::-webkit-search-cancel-button{
	-webkit-appearance: none;
}

.top__bar__profile {
    padding: 10px 14px;
    margin-right: 0;
}

/***********************
NAV BAR
***********************/
.nav__bar {
    background-color: var(--background-card);
    width: calc(var(--nav-bar-w) - var(--gap-flex) - var(--container-pad));
    height: calc(100vh - var(--top-bar-h) - var(--player-bar-h) - var(--gap-flex) * 2 - var(--container-pad) * 2);
    border-radius: var(--lyt-border);
    position: relative;
}

.nav__bar__library {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.hov--transition {
    opacity: .7;
    transition: .2s linear;
}

.hov--transition:hover {
    opacity: 1;
}

.nav__bar__library a {
    color: var(--bright-color);
    display: flex;
    align-items: center;
    gap: var(--gap-item-nav);
    height: 40px;
    padding: 0 22px;
}

.nav__bar__ico {
    width: 24px;
    height: 24px;
}

.fix--ico {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    border-radius: 3px;
}

.add--library {
    background-color: var(--bright-color);
    color: #000;
}

.wish--library {
    background: var(--background-likesong-gradient);
}

.nav__bar__library__title {
    font-size: 14px;
    font-weight: 600;
}

.nav__bar__divider {
    background-color: var(--text-color);
    height: 1px;
    border:none;
    margin: 12px 22px;
    opacity: .2;
}

.nav__bar__playlists li {
    margin-bottom: 14px;
}

.nav__bar__playlists a {
    color: var(--bright-color);
    padding: 0 22px;
    font-size: 14px;
}

.nav__bar__install {
    position: absolute;
    left: 22px;
    bottom: 0;
    height: 30px;
}

.nav__bar__install a {
    color: var(--bright-color);
    display: flex;
    align-items: center;
    gap: var(--gap-item-nav);
}

/***********************
PLAYER BAR
***********************/
.player-bar {
    color: var(--text-color);
    width: 100vw;
    height: var(--player-bar-h);
}

/***********************
MAIN
***********************/
.main {
    background-color: var(--background-card);
    color: var(--text-color);
    width: calc(100vw - var(--nav-bar-w) - var(--container-pad));
    height: calc(100vh - var(--top-bar-h) - var(--player-bar-h) - var(--gap-flex) * 2 - var(--container-pad) * 2);
    padding: var(--layout-pad) var(--layout-pad) 0;
    border-radius: var(--lyt-border);
    overflow-y: auto;
}
