:root {
    --background: #000;
    --background-card: #121212;
    --text-color: #a7a7a7;
    --bright-color: #fff;
    /* layout */
    --top-bar-h: 50px;
    --player-bar-h: 72px;
    --nav-bar-w: 230px;
    --gap-flex: 8px;
    --lyt-border: 10px;
    /* padding*/
    --container-pad: 8px;
    --layout-pad: 24px;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------- GENERAL SETTING ------ */

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-flex);
    padding: var(--container-pad);
}
/* ---------- GENERAL SETTING -------- */

/***********************
TOP BAR
***********************/
.top-bar {
    color: var(--text-color);
    width: 100vw;
    height: var(--top-bar-h);
    top: 0;
    right: 0;
}

/***********************
NAV BAR
***********************/
.nav-bar {
    background-color: var(--background-card);
    color: var(--text-color);
    width: calc(var(--nav-bar-w) - var(--gap-flex) - var(--container-pad));
    height: calc(100vh - var(--top-bar-h) - var(--player-bar-h) - var(--gap-flex) * 2 - var(--container-pad) * 2);
    padding-top: var(--layout-pad);
    border-radius: var(--lyt-border);
}

/***********************
PLAYER BAR
***********************/
.player-bar {
    color: var(--text-color);
    width: 100vw;
    height: var(--player-bar-h);
}

/***********************
MAIN
***********************/
.main {
    background-color: var(--background-card);
    color: var(--text-color);
    width: calc(100vw - var(--nav-bar-w) - var(--container-pad));
    height: calc(100vh - var(--top-bar-h) - var(--player-bar-h) - var(--gap-flex) * 2 - var(--container-pad) * 2);
    padding: var(--layout-pad) var(--layout-pad) 0;
    border-radius: var(--lyt-border);
    overflow-y: auto;
}
